{% extends 'base1.html' %}

{% block content %}
<h1> Search for patients </h1>
<hr>
<form method ="get">
    
    {% csrf_token %}
    <div class="row">

        {% for field in search_form %}
            <div class="col-md-3">
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form> 

<hr>

{% if patients %}
<div class="card-deck">
    {% for patient in patients %}
    {{patient.name}}
    {% endfor %}
</div>

{% else %}
<p> No patients found.</p>
{% endif %}
    
</div>


{% endblock %}
