
{% extends "base1.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}

  <h1>Create Patient Record</h1>
  <hr>
  <form method="post" id="patient_form">
    {% csrf_token %}
    <table >
    {% for field in form %}
    <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field  }}
    </tr>
    <tr>
        <td colspan="2"><hr></td>
    </tr>
    {% endfor %}

    {{ form.media }}
    {% if form.errors %}
    <ul class="errorlist">
        {% for field in patient_form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    </table>

    {{ form.media }}

    <button type="submit">Submit</button>
</form>

<hr>


{% endblock %}

