
<head>
  <!-- Link to the Bootstrap CSS file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Link to the Bootstrap JavaScript file -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<h1>Assistant Professor Approved List</h1>
<hr>
<table border="2">
    <tr>
        <th>S.No</th>
        <th>Patient Name</th>
        <th>Unique Specimen Id</th>
        <th>Sample Id</th>
        <th>Date arrived</th>
        <th>Sample Type</th>
        <th>Department</th>
        <th>Result</th>
        <th>Status</th>
        <th>Result processed on</th>
        <th>Result created by<th>

    </tr>
  {% for aar in assistant_approved_results %}
    <tr>

      <td>{{forloop.counter }}</td>
      <td>{{ aar.result.sample.patient.name }}</td>
      <td>{{ aar.result.sample.unique_specimen_id  }}</td>
      <td>{{ aar.result.sample.sample_id }}</td>
      <td>{{ aar.result.sample.date_time_arrived }}</td>
      <td>{{ aar.result.sample.sample_type }}</td>
      <td>{{ aar.result.sample.department }}</td>
      <td>{{ aar.result.result_data|safe }}</td>
      <td>{{ aar.result.result_status }}</td>
      <td>{{ aar.result.result_date }}</td>
      <td>{{ aar.result.created_by }}<td>

      <td>

          <a class="btn btn-primary" href="{% url 'approve_asp' aar.pk %}">APPROVE</a>
      </td>

      
    </tr>
  {% endfor %}
</table>
